<h2 class="text-center" id="homeHeading">Welcome To Hangman Game</h2>

<% unless user_signed_in? -%>
    <div class="clearfix">
    <div class="userAction span4 offset3">

      <ul class="clearfix">
        <li><%= link_to 'Sign up', new_user_registration_path, class:"btn-large btn btn-success" %></li>
        <li><%= link_to 'Sign in', new_user_session_path, class:"btn-large btn" %></li>
        <li><h4>SignIn with</h4></li>
        <li>
          <ul class="clearfix">
            <li>
              <%= link_to href:'/auth/facebook/' do %>
                  <i class="icon32-facebook"></i>
              <% end %>
              <li><%= link_to href:'/auth/github' do %>
                    <i class="icon32-github"></i>
                <% end %></li>
              <li><%= link_to href:'/auth/twitter' do %>
                    <i class="icon32-twitter"></i>
                <% end %></li>
              <li><%= link_to href:'/auth/linkedin' do %>
                    <i class="icon32-linkedin"></i>
                <% end %></li>
              <li><%= link_to href:'/auth/google_oauth2' do %>
                    <i class="icon32-google"></i>
                <% end %></li>

          </ul>


          </li>
      </ul>

    </div>
    </div>
<% end -%>

<% if user_signed_in? -%>

    <div class="row-fluid">
      <div class="span6">

        <%=link_to 'Play Game', newgame_path, class:"btn btn-large btn-primary"%>
      </div>

      <div class="span6">
        <form class="form-horizontal">

          <div class="control-group">
            <label class="control-label" for="played">Games Played</label>
            <div class="controls">
              <input class="input-xlarge" id="disabledInput" type="text" placeholder="Games Played" value=<%= @game.played%> disabled>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="win">Games Won</label>
            <div class="controls">
              <input class="input-xlarge" id="disabledInput" type="text" placeholder="Games Won" value=<%= @game.win%> disabled>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="lose">Games lost</label>
            <div class="controls">
              <input class="input-xlarge" id="disabledInput" type="text" placeholder="Games Lost" value=<%= @game.lose%> disabled>
            </div>
          </div>
        </form>
      </div>

    </div>


<% end -%>