<h2 class="text-center" id="homeHeading">Welcome To Hangman Game</h2>

<% unless user_signed_in? -%>
    <div class="clearfix">
    <div class="userAction span4 offset3">
      <p><%= link_to 'Sign up', new_user_registration_path, class:"btn-large btn-success" %></p>
      <p><%= link_to 'Sign in', new_user_session_path, class:"btn-large btn" %></p>
      <p><%= link_to 'Login with Facebook', '/auth/facebook/', class:"btn-large btn-primary" %></p>
      <p><%= link_to 'Login with Github', '/auth/github', class:"btn-large btn"%></p>
      <p><%= link_to 'Login with Twitter', '/auth/twitter', class:"btn-large btn-info"%></p>
      <p><%= link_to 'Login with LinkedIn', '/auth/linkedin', class:"btn-large btn-primary"%></p>
      <p><%= link_to 'Login with Google+', '/auth/google_oauth2', class:"btn-large btn-danger"%></p>
    </div>
    </div>
<% end -%>

<% if user_signed_in? -%>

    <div class="row-fluid">
      <div class="span6">

        <%=link_to 'Play Game', newgame_path, class:"btn btn-large btn-primary"%>
      </div>

      <div class="span6">
        <form class="form-horizontal">

          <div class="control-group">
            <label class="control-label" for="played">Games Played</label>
            <div class="controls">
              <input class="input-xlarge" id="disabledInput" type="text" placeholder="Games Played" value=<%= @game.played%> disabled>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="win">Games Won</label>
            <div class="controls">
              <input class="input-xlarge" id="disabledInput" type="text" placeholder="Games Won" value=<%= @game.win%> disabled>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="lose">Games lost</label>
            <div class="controls">
              <input class="input-xlarge" id="disabledInput" type="text" placeholder="Games Lost" value=<%= @game.lose%> disabled>
            </div>
          </div>
        </form>
      </div>

    </div>


<% end -%>