<div class="row-fluid" id="game">

  <div class="span8 text-center">

    <p class="center">
      <!--<img src="/images/games/hangman01.png" alt="" height="194" width="240" />-->
    </p>

    <p class="hangman-word">
      <%@game.word_placeholder.each do |u|%>
        <%=u%>
      <%end%>
    </p>

    <p class="center explanation guessWord">
      Guess the word
    </p>

    <%if @game.missed_counter < 6 && @game.counter != @game.word.length -%>
        <form action="/game/user_input" method="post">
          <div class="center">
            <input type="submit" name="character" class="button character" value="A" />
            <input type="submit" name="character" class="button character" value="B" />
            <input type="submit" name="character" class="button character" value="C" />
            <input type="submit" name="character" class="button character" value="D" />
            <input type="submit" name="character" class="button character" value="E" />
            <input type="submit" name="character" class="button character" value="F" />
            <input type="submit" name="character" class="button character" value="G" />
            <input type="submit" name="character" class="button character" value="H" />
            <input type="submit" name="character" class="button character" value="I" />
            <br /><input type="submit" name="character" class="button character" value="J" />
            <input type="submit" name="character" class="button character" value="K" />
            <input type="submit" name="character" class="button character" value="L" />
            <input type="submit" name="character" class="button character" value="M" />
            <input type="submit" name="character" class="button character" value="N" />
            <input type="submit" name="character" class="button character" value="O" />
            <input type="submit" name="character" class="button character" value="P" />
            <input type="submit" name="character" class="button character" value="Q" />
            <input type="submit" name="character" class="button character" value="R" />
            <br /><input type="submit" name="character" class="button character" value="S" />
            <input type="submit" name="character" class="button character" value="T" />
            <input type="submit" name="character" class="button character" value="U" />
            <input type="submit" name="character" class="button character" value="V" />
            <input type="submit" name="character" class="button character" value="W" />
            <input type="submit" name="character" class="button character" value="X" />
            <input type="submit" name="character" class="button character" value="Y" />
            <input type="submit" name="character" class="button character" value="Z" />
          </div>
        </form>
    <%else%>
    <%end-%>

    <%=link_to 'New Game', newgame_path, class:"btn btn-large btn-primary"%>
  </div>

  <div id="gameStatus" class="span4">
      <h3>Game Status</h3>
      <p >Counter :- <%= @game.counter%></p>
      <!--<div><img src="" alt="" height="" width="" /></div>-->
      <p >Missed Counter :- <%= @game.missed_counter%></p>
      <p >previous_choice :- <%@game.previous_choice.each do |u|%>
            <%=u%>
            <%end%>
      </p>
      <P>Result </p>
      <h2><%=@result%></h2>
      <p><%=@result_word%></p>
  </div>

</div>