#game.row-fluid
  .span8.text-center
    .imgWrap
      = image_tag "hangman-#{@game.missed_counter}.gif",width: 250, height: 300
    %p.hangman-word
      - @game.word_placeholder.each do |u|
        = u
    - if @game.missed_counter < 6 && @game.counter != @game.word.length
      %p.center.explanation.guessWord Guess the word
      %form{:action => "/game/user_input", :method => "get"}
        .center
          %input.button.character.btn.btn-success1.charA{:name => "character", :type => "submit", :value => "A"}/
          %input.button.character.btn.btn-success1.charB{:name => "character", :type => "submit", :value => "B"}/
          %input.button.character.btn.btn-success1.charC{:name => "character", :type => "submit", :value => "C"}/
          %input.button.character.btn.btn-success1.charD{:name => "character", :type => "submit", :value => "D"}/
          %input.button.character.btn.btn-success1.charE{:name => "character", :type => "submit", :value => "E"}/
          %input.button.character.btn.btn-success1.charF{:name => "character", :type => "submit", :value => "F"}/
          %input.button.character.btn.btn-success1.charG{:name => "character", :type => "submit", :value => "G"}/
          %input.button.character.btn.btn-success1.charH{:name => "character", :type => "submit", :value => "H"}/
          %input.button.character.btn.btn-success1.charI{:name => "character", :type => "submit", :value => "I"}/
          %br/
          %input.button.character.btn.btn-success1.charJ{:name => "character", :type => "submit", :value => "J"}/
          %input.button.character.btn.btn-success1.charK{:name => "character", :type => "submit", :value => "K"}/
          %input.button.character.btn.btn-success1.charL{:name => "character", :type => "submit", :value => "L"}/
          %input.button.character.btn.btn-success1.charM{:name => "character", :type => "submit", :value => "M"}/
          %input.button.character.btn.btn-success1.charN{:name => "character", :type => "submit", :value => "N"}/
          %input.button.character.btn.btn-success1.charO{:name => "character", :type => "submit", :value => "O"}/
          %input.button.character.btn.btn-success1.charP{:name => "character", :type => "submit", :value => "P"}/
          %input.button.character.btn.btn-success1.charQ{:name => "character", :type => "submit", :value => "Q"}/
          %input.button.character.btn.btn-success1.charR{:name => "character", :type => "submit", :value => "R"}/
          %br/
          %input.button.character.btn.btn-success1.charS{:name => "character", :type => "submit", :value => "S"}/
          %input.button.character.btn.btn-success1.charT{:name => "character", :type => "submit", :value => "T"}/
          %input.button.character.btn.btn-success1.charU{:name => "character", :type => "submit", :value => "U"}/
          %input.button.character.btn.btn-success1.charV{:name => "character", :type => "submit", :value => "V"}/
          %input.button.character.btn.btn-success1.charW{:name => "character", :type => "submit", :value => "W"}/
          %input.button.character.btn.btn-success1.charX{:name => "character", :type => "submit", :value => "X"}/
          %input.button.character.btn.btn-success1.charY{:name => "character", :type => "submit", :value => "Y"}/
          %input.button.character.btn.btn-success1.charZ{:name => "character", :type => "submit", :value => "Z"}/
    - else
    = link_to 'New Game', newgame_path, class:"btn btn-large btn-primary1"
  #gameStatus.span4
    %h3 Game Status
    %p
      Remaining Chances:- #{6-@game.missed_counter}
    <h2 class=
    - if @game.missed_counter == 6
      "loss"
    >#{@result}
    - if @game.missed_counter == 6 || @game.counter == @game.word.length
      %p.correctWord
        Correct Word :
        %b= @result_word


        %ul
= javascript_tag do
  setAccounts(#{@game.previous_choice.to_json.html_safe});