<div class="row-fluid" id="game">

  <div class="span8 text-center">

    <div class="imgWrap">
      <%=image_tag "hangman-#{@game.missed_counter}.gif",width: 250, height: 300%>
    </div>

    <p class="hangman-word">
      <%@game.word_placeholder.each do |u|%>
          <%=u%>
      <%end%>
    </p>

    <p class="center explanation guessWord">
      Guess the word
    </p>

    <%if @game.missed_counter < 6 && @game.counter != @game.word.length -%>
        <form action="/game/user_input" method="get">
          <div class="center">
            <input type="submit" name="character" class="button character charA" value="A" />
            <input type="submit" name="character" class="button character charB" value="B" />
            <input type="submit" name="character" class="button character charC" value="C" />
            <input type="submit" name="character" class="button character charD" value="D" />
            <input type="submit" name="character" class="button character charE" value="E" />
            <input type="submit" name="character" class="button character charF" value="F" />
            <input type="submit" name="character" class="button character charG" value="G" />
            <input type="submit" name="character" class="button character charH" value="H" />
            <input type="submit" name="character" class="button character charI" value="I" />
            <br /><input type="submit" name="character" class="button character charJ" value="J" />
            <input type="submit" name="character" class="button character charK" value="K" />
            <input type="submit" name="character" class="button character charL" value="L" />
            <input type="submit" name="character" class="button character charM" value="M" />
            <input type="submit" name="character" class="button character charN" value="N" />
            <input type="submit" name="character" class="button character charO" value="O" />
            <input type="submit" name="character" class="button character charP" value="P" />
            <input type="submit" name="character" class="button character charQ" value="Q" />
            <input type="submit" name="character" class="button character charR" value="R" />
            <br /><input type="submit" name="character" class="button character charS" value="S" />
            <input type="submit" name="character" class="button character charT" value="T" />
            <input type="submit" name="character" class="button character charU" value="U" />
            <input type="submit" name="character" class="button character charV" value="V" />
            <input type="submit" name="character" class="button character charW" value="W" />
            <input type="submit" name="character" class="button character charX" value="X" />
            <input type="submit" name="character" class="button character charY" value="Y" />
            <input type="submit" name="character" class="button character charZ" value="Z" />
          </div>
        </form>
    <%else%>
    <%end-%>

    <%=link_to 'New Game', newgame_path, class:"btn btn-large btn-primary"%>
  </div>

  <div id="gameStatus" class="span4">
    <h3>Game Status</h3>
    <p >Remaining Chances:- <%= 6-@game.missed_counter%></p>
    <h2 class=<%if @game.missed_counter == 6-%>"loss"<%end-%>><%=@result%></h2>
    <%if @game.missed_counter == 6 || @game.counter == @game.word.length -%>
    <p class="correctWord">Correct Word : <b><%=@result_word%></b></p>
    <div class="word_definition">
       <p>Word Definition : </p>
         <ul>
           <% @word_def.each do |definition| %>
               <li><%= definition["text"]%></li>
           <%end%>
         </ul>
    </div>

  <%end-%>
  </div>

</div>
<%= javascript_tag do %>
    setAccounts(<%= @game.previous_choice.to_json.html_safe %>);
<% end %>
