<header>
  <div class="container clearfix">
    <div class="row">
        <div class="span4">
            <div class="logoWrap">
              <%= link_to 'HangMan Game', root_path, class: "logo" %>
            </div>
        </div>
        <div class="span8 pull-right">
          <% if user_signed_in? -%>
              <div class="headerLinks">
                <ul class="clearfix">
                  <li><%= image_tag current_user.profile.avatar.url(:thumb) ,width: 50,height: 50%></li>
                  <li class="dropdown">
                    <a class="dropdown-toggle"
                       data-toggle="dropdown"
                       href="#">
                      <%= current_user.email %>
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu pull-right">
                      <li><%= link_to 'My info', edit_user_registration_path %></li>
                      <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
                    </ul>
                  </li>
                </ul>
              </div>
          <% end -%>
        </div>
    </div>
  </div>
</header>