!!!
%html
  %head
    %title Hangman Game
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .pageWrapper
      = render 'layouts/header'
      .container
        = render 'layouts/errors'
        = yield
      #push
    = render "layouts/footer"